// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";


@font-face {
  font-family: "Neon";
  src: font-url('../app/assets/fonts/neon/NEON___.TTF') format('truetype');
}
$my-font: "Neon";
