
  <div class="m-2 d-flex justify-content-between align-items-center">
    <h1>My Cocktails Book</h1>
    <%= link_to new_cocktail_path, class: 'btn btn-primary m-2 border rounded' do %>
      <span><i class="fas fa-plus-circle"></i>Add New Cocktail</span>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
          <div class="col-3 m-3">
          <div class="card" style="width: 18rem;">
            <img src="https://loremflickr.com/g/320/240/cocktail" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= cocktail.name %></h5>
            </div>
          </div>
          </div>
      <% end %>
    <% end %>
  </div>
