<div class="my-5 container d-flex justify-content-center">
  <div class="col-6 m-3 rounded shadow p-3 bg-light">
    <h1>Add New Cocktail</h1>
    <%= render 'shared/form', cocktail: @cocktail %>
  </div>
</div>
