// Specific CSS for your home-page
pre, p{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#app-name {
    font-family: 'Monoton', cursive;
    font-size: 2.5em;
    color:#F783FF;
    text-shadow: 0 0 6px white;
}

#app-icon {
    font-size: 4em;
    color: #F783FF;
    text-shadow: 0 0 6px white;
}